@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color:#f8f0fc;
}

a {
    text-decoration: none;
}

a:any-link {
    color: gray;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 10px rgba(82, 80, 80, 0.466);
    height: 50px;
    background-color: white;
}

.logo {
    /* width: 50px;
    height: 50px; */
    margin-right: 20px;
    display: block;
}

.logo img {
    width: 25vw;
    height: 60px;
}

.navbar-right ul li{
    display: inline-block;
    list-style-type: none;
}

.navbar-right ul li a{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    margin: 15px;
    position: relative;
}

.navbar-right ul li a::after{
    content: '';
    width: 0;
    height: 2.5px;
    background: blueviolet;
    position: absolute;
    bottom: -18px;
    transition: width 0.3s;
}

.navbar-right ul li a:hover::after{
    width: 100%;
}

.navbar-right ul li a:hover::after,
.navbar-right ul li a.active::after {
    width: 100%;
}

.search-box {
    width: 250px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: #ced4da;
    border-radius: 30px;
    margin: 10px auto;
}

.search-box .search-icon {
    height: 25px;
    width: 25px;
    padding-left: 5px;
}

.search-box input {
    border: none;
    width: 100%;
    background: transparent;
    outline: none;
    padding: 8px;
    font-size: 1rem;
}

.container {
    padding: 20px 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.left-sidebar{
    flex-basis: 25%;
    align-self: flex-start;
}

.sidebar-profile-box{
    background-color: #f3d9fa;
    border-radius: 20px;
}

.sidebar-profile-box img{
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.sidebar-profile-info{
    padding: 0 20px;
}

.sidebar-profile-info img{
    width: 100px;
    border-radius: 50%;
    background-color: #f8f0fc;
    padding: 5px;
    margin-top: -60px;
}

.sidebar-profile-info h1{
    font-size: 1.7rem;
    font-weight: 600;
    color: #862e9c;
}

.sidebar-profile-info h3{
    font-size: 1.25rem;
    font-weight: 500;
    color: #212529;
}

.sidebar-profile-info ul{
    list-style: none;
    margin: 15px 0;
    padding: 5px 0;
    font-weight:300;
}

.sidebar-profile-info ul li{
    width: 100%;
    margin: 5px 0;
    font-size: 1.1rem;
}

.sidebar-profile-info ul li span{
    float:right;
    color: #9c36b5;
    font-weight: bold;
}

.sidebar-activity{
    background-color: #f3d9fa;
    border-radius: 20px;
    width: 100%;
    text-align: left;
    padding: 5px;
}

.sidebar-activity ul{
    list-style: none;
    width: 100%;
    margin: 5px 0;
   
} 

.sidebar-activity h1{
    padding: 5px;
    color: #862e9c;
    border-bottom: 2px solid #adb5bd;
}

.sidebar-activity ul li{
    width: 100%;
    margin: 10px 15px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 10px;
}

.sidebar-activity ul li img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.sidebar-activity h5{
    text-align: right;
    color: #9c36b5;
    padding-right: 5px;
}
.right-sidebar{
    flex-basis: 25%;
    align-self: flex-start;
}

.sidebar-recruits{
    background-color:#f3d9fa;
    border-radius: 20px;
    width: 100%;
    text-align: left;
    padding: 10px 15px;
}

.sidebar-recruits .recruit-icon{
    width: 40px;
    height: 40px;
    float: right;
    color: #862e9c;
}

.sidebar-recruits h1{
    color: #862e9c;
    margin-bottom: 25px;
    padding-bottom: 10px;
    border-bottom: 2px solid #adb5bd;
}

.sidebar-recruits .verified{
    width: 25px;
    height: 25px;
    float: right;
    color: #9c36b5;
    margin-top: -5px;
}

.sidebar-recruits a h3{
    color: black;
    margin-top: 15px;
    margin-bottom: -5px;
    font-weight: 600;
}

.sidebar-recruits span{
    font-size: 1rem;
}

.main-content{
    flex-basis: 47%;
    height: 110vh;
    overflow: auto;
}

.create-post{
    background: #f3d9fa;
    border-radius: 20px;
}

.create-post-input{
    padding: 10px 25px 10px;
    display: flex;
    align-items: flex-start;
}

.create-post-input img{
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.create-post-input textarea{
    width: 100%;
    border: 0;
    outline: 0;
    resize: none;
    background: transparent;
    margin-top: 16px;
}

::placeholder{
    font-weight: 500;
    font-size: 1rem;
}
.create-post-links{
    display: flex;
    align-items: flex-start;
}

.create-post-links li{
    list-style: none;
    border-top: 1px solid #adb5bd;
    border-right: 1px solid #adb5bd;
    flex-basis: 25%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 0.9rem;
    transition: all 0.5s;
}

.create-post-links .post-icon{
    width: 15px;
    height: 15px;
    margin-right: 10px;
    color: #9c36b5;
}

.create-post-links li:first-child{
    border-bottom-left-radius: 20px;
}

.create-post-links li:last-child{
    border-right: 0;
    border-top: 0;
    border-bottom-right-radius: 20px;
    background-color: #862e9c;
    color: #fff;
    font-weight: 500;
}

.create-post-links li:hover{
    background-color: #862e9c;
    color: #fff;
    stroke: #fff;
}

.post{
    background: #f3d9fa;
    border-radius: 20px;
    padding: 20px 25px;
    margin-top: 15px;
}

.post-author{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
}

.post-author img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.post-author h1{
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 5px;
}

.post-author small{
    display: block;
}

.post p{
    font-size: 1.1rem;
    margin: 10px 0;
}

.post-activity{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 3px 0;
    padding: 5px 10px 0;
    border-top: 2px solid #adb5bd;
}

.post-activity .post-activity-icon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.post-activity span{
    font-weight: 500;
    display: flex;
    align-items: center;
    cursor: pointer;
}

::-webkit-scrollbar{
    width: 0;
}
